<div class="custom-panel row">
    <div class="col-md-12">
        <div class="panel panel-default p-0 m-0">
            <div class="panel-heading">
                <span class="panel-title">Reversal</span>
                <span class="pull-right" btn-sm btn-block>23445566</span>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>