<div class="custom-panel">
    <div class="row" *blockUI="'loading'">
        <div class="col-md-5" *ngIf="showForm">
            <div class="panel panel-default p-0 m-0">
                <div class="panel-heading"><span class="panel-title">
                        <i class="fa fas-edit mr-2"></i>Enter Pump Detail </span> <span class="pull-right mr-2 "
                        (click)="closeForm()"> <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span></div>
                <div class="panel-body">
                    <form [formGroup]="pumpForm" (ngSubmit)="save(pumpForm.value)">
                        <div class="form-group">
                            <label for="station">Station</label>
                            <ng-select [items]="stations |async" bindLabel="name" bindValue="id"
                                formControlName="stationId" placeholder="Select Station"
                                [validate-form-control]="pumpForm.controls.stationId"
                                error-message="Station is required" required>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                [validate-form-control]="pumpForm.controls.name" error-message="Name is required"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="product">Fuel Product</label>
                            <ng-select [items]="fuelProducts |async" bindLabel="name" bindValue="id"
                                formControlName="fuelProductId" placeholder="Select Fuel Product" required>
                            </ng-select>
                        </div>
                        <!-- <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" formControlName="address" class="form-control" id="address">
                        </div> -->
                        <button type="submit" class="btn btn-success mr-2" authorize="FuelPump.Create"
                            [disabled]="!pumpForm.valid">Save Changes</button>
                        <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
                        <button type="button" class="btn btn-danger pull-right" (click)="delete(pumpForm.value)"
                            *ngIf="pumpForm.value.id" authorize="FuelPump.Delete">Delete</button>

                    </form>
                </div>
            </div>
        </div>

        <div [ngClass]="showForm ? 'col-md-7' : 'col-md-12'">
            <div class="panel panel-default p-0 m-0">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="fas fa-gas-pump mr-2"></i>Fuel Pumps</span>
                    <button type="button" name="" id="" class="btn btn-show pull-right" btn-sm btn-block
                        (click)="openForm()"><i class="fa fa-edit" aria-hidden="true"></i> New Pump</button>
                </div>
                <div class="panel-body p-0">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 m-3">
                            <ng-select [items]="stations |async" bindLabel="name" bindValue="id"
                                (change)="loadPumps($event.id)" placeholder="Select Station" #ngStation>
                            </ng-select>
                        </div>
                    </div>

                    <div class="table-responsive-sm">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th class="num_col_1">#</th>
                                    <th>Name</th>
                                    <th>Fuel Product</th>
                                    <!-- <th>Address</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pump of fuelPumps | async;let i = index" class="pointer"
                                    (click)="openForm(pump)">
                                    <td>{{i+1}}</td>
                                    <td>{{pump.name}}</td>
                                    <td>{{pump.fuelProductName}}</td>
                                    <!-- <td>{{pump.address}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>