<div class="row" *blockUI="'changePassword'">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm.value)">
      <div class="form-group">
        <label for="input01">Current Password</label>
        <input type="password" class="form-control ml-auto mr-3" id="currentPassword" formControlName="currentPassword"
          required [validate-form-control]="changePasswordForm.controls.currentPassword" autocomplete="">
      </div>
      <div class="form-group">
        <label for="input01">New Password</label>
        <input type="password" class="form-control" id="newPassword" required autocomplete=""
          formControlName="newPassword" [validate-form-control]="changePasswordForm.controls.newPassword">
      </div>

      <div class="form-group">
        <label for="input01">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" required formControlName="confirmPassword"
          [validate-form-control]="changePasswordForm.controls.confirmPassword"
          [equalTo]="changePasswordForm.controls.newPassword" autocomplete="">
      </div>

      <!-- <hr style="margin-bottom: 8px;border-width:0.5px;background:#7a7676" class="mt-6"> -->
      <div class="form-actions">
        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-success float-right">Save
          Changes</button>
      </div>

    </form>

  </div>
</div>