// .offset-md-3 {
//     margin-left: 25%;
//   }

.form-actions {
    display: -webkit-inline-box;
    padding-top: .5rem;
}

.img-prepend img {
    width: 33px;
    height: 33px;
    border: 1px solid #ced4da;
    // border-radius: 0px 5px 5px 0px;
    border-radius:0px;
    cursor: pointer;
}

.btn{
   padding: 10px 20px;
}