<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                </span></div>
        </li>

        <li *ngFor="let menu of menuItems; let i=index" id="sm{{i}}" [authorize]="menu.privilege">
            <a [routerLink]="[menu.route]" class="parent-active" appNavDropdownToggle>
                <i class="icon {{menu.icon}} mr-2"></i>
                <span class="hide-menu">{{menu.title}}</span>
                <i *ngIf="menu.subMenus.length>0" class="fa fa-caret-right caret-right">
                </i>
            </a>
            <ul *ngIf="menu.subMenus" class="nav-dropdown-items close">
                <li class="nav-item" *ngFor="let sm of menu.subMenus">
                    <a class="nav-link" [routerLink]="[sm.route]" class="child-active">
                        <i [ngClass]="sm.icon"></i> {{sm.title}}</a>
                </li>
            </ul>
        </li>



    </ul>









</div>