.offset-md-8 {
    margin-left: 65.666667% !important;
    // 65.6667%
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  input[type=number] {
    -moz-appearance: textfield;
  }

  a{
    color:#ff0000;
    font-size: small;
  }

  a:hover{
    color:#ff0000;
  }