<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-lg-8 mt-2 p-0">
        <div class="card card-body rc shadow mb-2">
          <div class="row">
            <div class="col-md-3 br">
              <div class="icon-box bg-mauve"><i class="fa fa-coins"></i></div>
              <h2 class="md-title nomargin">Sales</h2>
              <h3 class="md-desc">{{(record?.currentMonthSales || 0) | currency: ' '}}</h3>
            </div>
            <div class="col-md-3 br">
              <div class="icon-box bg-blue"><i class="fa fa-wallet"></i></div>
              <h2 class="md-title nomargin">Expenses</h2>
              <h3 class="md-desc">{{(record?.currentMonthExpenses || 0) | currency: ' ' }}</h3>
            </div>
            <div class="col-md-3 br">
              <div class="icon-box bg-red"><i class="fa fa-piggy-bank"></i></div>
              <h2 class="md-title nomargin">Banking</h2>
              <h3 class="md-desc">{{(record?.currentMonthBanking || 0) | currency: ' '}}</h3>
            </div>
            <div class="col-md-3">
              <div class="icon-box bg-green"><i class="fa fa-store-alt"></i></div>
              <h2 class="md-title nomargin">Outlets</h2>
              <h3 class="md-desc">{{record?.totalOutlets | number}}</h3>
            </div>
          </div>
        </div>
        <div class="card card-body rc shadow mb-2">
          <div class="row">
            <div class="col-md-12">
              <canvas #barChartCanvas height="110"></canvas>
            </div>

          </div>
        </div>
        <div class="card card-body rc shadow">

          <div class="row">
            <div class="col-md-6 br">
              <div class="pieChart">
                <!-- <canvas #pieChartCanvas height="160"></canvas> -->
                <canvas #pieChartCanvas height="160"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pieChart">
                <canvas #pieChartCanvas height="160"></canvas>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-2">
            <canvas #pieChartCanvas height="170"></canvas>
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 mt-2 px-0">
        <div class="row col-md mb-2 pr-0 m-0">
          <div class="card card-body rc shadow">
            <div class="md-title mb-3 text-success">Last Month Transactions</div>
            <div class="lb py-2">
              <div class="icon-box-mini bg-mauve"><i class="fa fa-coins"></i></div>
              <h2 class="md-title nomargin mt-2">Sales <span
                  class="badge bg-mauve pull-right text-light">{{(record?.lastMonthSales || 0) | currency: ' '}}</span>
              </h2>
            </div>
            <div class="lb py-2">
              <div class="icon-box-mini bg-blue"><i class="fa fa-wallet"></i></div>
              <h2 class="md-title nomargin mt-2">Expenses <span
                  class="badge bg-blue pull-right text-light">{{(record?.lastMonthExpenses || 0) | currency: '
                  '}}</span>
              </h2>
            </div>
            <div class="lbx py-2">
              <div class="icon-box-mini bg-red"><i class="fa fa-piggy-bank"></i></div>
              <h2 class="md-title nomargin mt-2">Banking <span
                  class="badge bg-danger pull-right text-light">{{(record?.lastMonthBanking || 0) | currency: '
                  '}}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="row col-md mb-2 pr-0 m-0">
          <div class="card card-body rc shadow py-2">
            <div class="md-title mb-2 text-danger">Year Sales
            </div>
            <div class="row">
              <div class="col-md-6 br">
                <div class="icon-box-mini bg-brown" style="margin-top: 2px;"><i class="fa fa-filter"></i></div>
                <h2 class="md-title nomargin">Sales Volume</h2>
                <h5 class="md-desc">{{(record?.yearSalesVolume || 0) | currency: ' '}}</h5>
              </div>
              <div class="col-md-6">
                <div class="icon-box-mini bg-mauve"><i class="fa fa-coins"></i></div>
                <h2 class="md-title nomargin">Sales Value</h2>
                <h5 class="md-desc">{{(record?.yearSalesValue || 0) | currency: ' '}}</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-md mb-2 pr-0 m-0 max-h">
          <div class="card card-body rc shadow">
            <div class="md-title mb-3 text-dark">Top 5
              Outlets
            </div>
            <div class="lbx py-2" *ngFor="let outlet of record?.topOutlets; let i = index">
              <div class="icon-box-mini bg-{{bgColor(i)}}"><i class="fa fa-store"></i></div>
              <h2 class="md-title nomargin mt-2">{{outlet?.outlet}} <span
                  class="badge bg-{{bgColor(i)}} pull-right text-light">{{(outlet?.value || 0) | currency: ' '}}</span>
              </h2>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>